<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12"><h4 class="main_heading inline_block">Permissions</h4>
  </div>
  
  </div>
  <div class="row">
   
            <div class="col-sm-4">
                  <div class="form-group">
               <label for="exampleInputEmail1">User Type</label>
                <p-dropdown [options]="userTypes" class="full-width-drop" optionLabel="UserTypeName"></p-dropdown>
          
              </div>
               </div>
               <div class="col-sm-4">
                  <div class="form-group">
               <label for="exampleInputEmail1">User </label>
                <p-dropdown [options]="userTypes" class="full-width-drop" optionLabel="UserTypeName"></p-dropdown>
          
              </div>
               </div>
               
  </div>
  <div class="row">
    <div class="col-sm-4">
         <div>
          <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
          <label for="checkbox-1" class="checkbox-custom-label">First Item</label>
        </div>
</div>
    </div>
  </div>

   