<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
          <i class="fa fa-align-right" ></i>
        </button>-->

      <a class="toggle_btn" (click)="ShowToggle()">
        <i data-show="show-side-navigation1" class="fa fa-bars show-side-btn cursor"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-left side_nav" id="bs-example-navbar-collapse-1">
      <ul class="nav_new navbar-nav_new small_screen">
        <li class="dropdown side_profile">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{UserName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)">
                <i class="fas fa-user-tie"></i> My account </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="openChangePasswordPopup(ChangePassword)">
                <i class="fas fa-key"></i> Change Password</a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
              <a href="javascript:void(0)" (click)="logOut()">
                <i class="fas fa-sign-out-alt"></i> Log out </a>
            </li>

          </ul>
        </li>
      </ul>
      <ul class="nav_new navbar-nav_new big_screen" [ngClass]="{'menu-panel-active':ShowHeader} ">
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">


            <li role="separator" class="divider"></li>
            <li>
              <a [routerLink]="['/dashboard/ManageDatabase']" href="javascript:void(0)">
                <i class="fa fa-database"></i> Databases</a>



            </li>

          </ul>
        </li>




        <!-- <li>
          <a class="dropdown-toggle" data-toggle="dropdown" title="In Progress" class="cursor" href="#">File</a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/dashboard/ManageDatabase']" href="javascript:void(0)">  <i class="fa fa-thermometer-empty"></i>Manage Databases</a>
            </li>
            <li role="separator" class="divider"></li>
  
          </ul>
        </li> -->
        <li>
          <a title="In Progress" class="cursor" href="#">Edit</a>
        </li>
        <li>
          <a title="In Progress" class="cursor" href="#">View</a>
        </li>
        <li>
          <a title="In Progress" class="cursor" href="#">Tools</a>
        </li>
        <li>
          <a title="In Progress" class="cursor" [routerLink]="['/dashboard/QueryBuilder']">Report</a>
        </li>
        <!-- <li class="cursor">
          <a id="ImportCSVFile" title="Upload CSV">Import
            </a>
              <dx-context-menu 
              [dataSource]="items" 
              [width]="200" 
              target="#ImportCSVFile" 
              (onItemClick)="itemClick($event)">
          </dx-context-menu>
          
        </li> -->
        <!-- <li>
            <p-menu [model]="items"></p-menu>
        </li> -->
        <!-- <li>
          <button mat-button [matMenuTriggerFor]="menuExport">Export</button>
          <mat-menu #menuExport="matMenu">
            <button mat-menu-item (click)="itemClick('2_1')">Export Fundus Data</button>
            <button mat-menu-item (click)="itemClick('2_2')"> Export Patient Data</button>
          </mat-menu>
        </li> -->

        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Export
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)" (click)="itemClick('2_1')">
                <i class="fa fa-cloud-download"></i>Export Fundus</a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
              <a href="javascript:void(0)" (click)="itemClick('2_2')">
                <i class="fa fa-cloud-download"></i>Export Patient</a>
            </li>

          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Import
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)" (click)="itemClick('1_1')">
                <i class="fa fa-upload"></i>Import Fundus</a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
              <a href="javascript:void(0)" (click)="itemClick('1_2')">
                <i class="fa fa-upload"></i>Import Patient</a>
            </li>

          </ul>
        </li>
        <!-- <li>
              <button mat-button [matMenuTriggerFor]="menu">Menu</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
          </li> -->
        <!-- 
          <li class="dx-menus_inside">
              <dx-menu #menu [dataSource]="listHeaders" displayExpr="name" [showFirstSubmenuMode]="showFirstSubmenuModes" orientation="horizontal"
                [hideSubmenuOnMouseLeave]="true" submenuDirection="auto" (onItemClick)="itemClick($event.itemData)">
              </dx-menu>
            </li> -->
        <!-- <li>
          <a title="Export Excel Sheet" class="cursor" (click)="CreateCSV()">Export</a>
        </li> -->
        <li>
          <a title="In Progress" class="cursor" href="#">Setting</a>
        </li>
        <li>
          <a title="In Progress" class="cursor" href="#">Licensing</a>
        </li>
        <li>
          <a title="In Progress" class="cursor" href="#">Support</a>
        </li>
        <li>
          <a title="Help and Support" class="cursor" [routerLink]="['/dashboard/Help']" href="javascript:void(0)">Help</a>
        </li>
        <li class="dropdown side_profile">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{UserName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

            <li>
              <a href="javascript:void(0)">
                <i class="fas fa-user-tie"></i> My account </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="openChangePasswordPopup(ChangePassword)">
                <i class="fas fa-key"></i> Change Password</a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
              <a href="javascript:void(0)" (click)="logOut()">
                <i class="fas fa-sign-out-alt"></i> Log out </a>
            </li>

          </ul>
        </li>


      </ul>




    </div>


    <div *ngIf="isMobileDevice==true" class="fixed-plugin">
      <div class="dropdown show-dropdown open show">
        <a aria-expanded="true" data-toggle="dropdown" href="#">
          <i class="fa fa-cog fa-2x" (click)="ShowHeaderToggle()"> </i>
        </a>

      </div>
    </div>




    <ng-template #UploadCSVTemplate class=" main_modal">
      <form class="" [formGroup]="uploadCSVFileForm" (ngSubmit)="uploadCSV(uploadCSVFileForm.value)&& uploadCSVFileForm.valid">
        <div class="modal-header gray-header ngx-header">
          <h5 class="modal-title pull-left">{{uploadPopupModalTitle}}</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalUploadCSV.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body gray-body import_pop" style="background-color:#fff;color:#000">
          <div class="inputs">
            <div class="form-section">
              <div class="form-group">
                <span class="error import_error" *ngIf="showCSVErrorMessage==true" [innerHTML]="dynamicErrorHtml"></span>
                <label class=" main_lable mar_7px">Choose File To Upload</label>
                <div class="upload-box custom_upload">
                  <div class="hold">
                    <a href="#"></a>
                    <span class="btn-file"> Import
                      <input type="file" id="csvFile" formControlName="csvFile" (change)="onFileChange($event)" #fileInput accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    </span>
                  </div>
                </div>
                <!--<input  type="file" id="csvFile" formControlName="csvFile" (change)="onFileChange($event)" #fileInput>-->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer gray-body">
          <div class="pull-right">
            <button type="submit" class="btn btn-default login-btn" value="Create">Upload</button>
            <!--<button type="button" class="btn btn-primary add-btn-basic" (click)="DeleteUser()">Yes</button>-->
            <!--<a (click)="modalUploadCSV.hide()" class="btn btn-default">No</a>-->
            <button type="button" (click)="modalUploadCSV.hide()" class="btn btn-default login-btn">Cancel</button>
          </div>
          <!-- <div class="my-container">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          </div> -->
        </div>
      </form>
    </ng-template>
    <ng-template #ExportCSVTemplate class=" main_modal">

      <div class="modal-header gray-header ngx-header">
        <h5 class="modal-title pull-left">{{ExportTitle}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalExportCSV.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body gray-body import_pop" style="background-color:#fff;color:#000">
        <div class="inputs">



        
          <label class=" main_lable mar_7px">Are you sure you want to export this file ?</label>

          <!--<input  type="file" id="csvFile" formControlName="csvFile" (change)="onFileChange($event)" #fileInput>-->


        </div>
      </div>
      <div class="modal-footer gray-body">
        <div class="pull-right">
          <button type="button" (click)="ExportExcelFile()" class="btn btn-default login-btn">Yes</button>
          <!--<button type="button" class="btn btn-primary add-btn-basic" (click)="DeleteUser()">Yes</button>-->
          <!--<a (click)="modalUploadCSV.hide()" class="btn btn-default">No</a>-->
          <button type="button" (click)="modalExportCSV.hide()" class="btn btn-default login-btn">No</button>
        </div>
        <!-- <div class="my-container">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        </div> -->
      </div>

    </ng-template>





    <ng-template #ChangePassword class=" main_modal">


      <form class="" [formGroup]="changePasswordForm" (ngSubmit)="onFormSubmit(changePasswordForm.value)&& changePasswordForm.valid">
        <div class="modal-header gray-header ngx-header">
          <h5 class="modal-title pull-left">Change Password</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="Refresh()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body gray-body" style="background-color:#fff;color:#000">
          <div class="inputs">

            <div class="inputs">

              <div class="form-section">
                <div class="form-group">
                  <label class=" main_lable mar_7px">Current Password</label>
                  <input id="CurrentPassword" [formGroup]="changePasswordForm" minlength="6" maxlength="50" on-focusout="focusOutFunction()"
                    class="form-control" type="password" placeholder="Enter Current Password" [(ngModel)]="crntPassword" formControlName="CurrentPassword"
                    class="form-control">
                  <div style="display: displayDiv" *ngIf="correctPassword == false">
                    <span class="validationErrorMsg">You have entered wrong Password</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class=" main_lable mar_7px">New Password</label>
                  <input type="password" [formGroup]="changePasswordForm" formControlName="NewPassword" class="form-control" id="password"
                    name="password" placeholder="Enter password" [(ngModel)]="NewPassword" minlength="6" maxlength="50">
                  <!-- <ng2-password-strength-bar [passwordToCheck]="NewPassword" [barLabel]="barLabel" [barColors]="myColors">
                  </ng2-password-strength-bar> -->
                  <span class="validationErrorMsg" *ngIf="changePasswordForm.controls['NewPassword'].hasError('minlength')">Password must be atleast 6 characters long</span>
                </div>
                <div class="form-group">
                  <label class=" main_lable mar_7px">Confirm Password</label>
                  <input minlength="6" [formGroup]="changePasswordForm" maxlength="50" class="form-control" type="password" placeholder="Confirm Password"
                    formControlName="ConfirmPassword" class="form-control">
                  <div *ngIf="MatchPassword == false">
                    <span class="validationErrorMsg">Password and Confirm Password do not match</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer gray-body">
          <div align="right">

            <button type="submit" class="btn btn-default login-btn" value="Create" [disabled]=" !isValid || !changePasswordForm.valid">Update</button>
            <button type="button" class="btn btn-default login-btn" (click)="Refresh()">Cancel</button>
          </div>
          <!-- <div class="my-container">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          </div> -->
        </div>
      </form>


    </ng-template>
