<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="info"  routerLink="/dashboard" (click)="GotoDashBoard()">
          <img src="assets/images/logo_small.png">
        </div>
      <a _ngcontent-c3="">
          <img src="assets/images/menu.png" data-show="show-side-navigation1" (click)="ToggleSideBar()">
        <!-- <i _ngcontent-c3="" class="fa fa-bars show-side-btn" data-show="show-side-navigation1" (click)="ToggleSideBar()">
          
        </i> -->
      </a>

   <!-- <div class="search">
    <input type="text" placeholder="Type here"><i class="fa fa-search"></i>
  </div> -->
    <div class=" navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mr. SuperAdmin <span class="caret"></span></a>
          <ul class="dropdown-menu abs_position">
            <!-- <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
            <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
            <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="LogOut()" [routerLink]="['/login']"><i class="fa fa-sign-out"></i> Log out</a></li>
          </ul>
        </li> 
        <li><a href="#"><i class="fa fa-comments"></i><span>23</span></a></li>
        <li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
      </ul>
    </div>
  </div>
  </div>
</nav>