


@font-face {
	font-family: Poppins-Regular;
	src: url('/assets/fonts/poppins/Poppins-Regular.ttf');
}
@font-face {
	font-family: Poppins-Medium;
	src: url('/assets/fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
	font-family: Poppins-Bold;
	src: url('/assets/fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url('/assets/fonts/poppins/Poppins-SemiBold.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  background: #eaeaf3;
}
/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}
/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: none;
	-webkit-appearance: none;
}
 input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
}
textarea {
	outline: none;
	border: none;
}
textarea:focus, input:focus {
	border-color: transparent !important;
}
 input:focus::-webkit-input-placeholder {
color:transparent;
}
input:focus:-moz-placeholder {
color:transparent;
}
input:focus::-moz-placeholder {
color:transparent;
}
input:focus:-ms-input-placeholder {
color:transparent;
}
 textarea:focus::-webkit-input-placeholder {
color:transparent;
}
textarea:focus:-moz-placeholder {
color:transparent;
}
textarea:focus::-moz-placeholder {
color:transparent;
}
textarea:focus:-ms-input-placeholder {
color:transparent;
}
 input::-webkit-input-placeholder {
color: #cccccc;
}
input:-moz-placeholder {
color: #cccccc;
}
input::-moz-placeholder {
color: #cccccc;
}
input:-ms-input-placeholder {
color: #cccccc;
}
 textarea::-webkit-input-placeholder {
color: #cccccc;
}
textarea:-moz-placeholder {
color: #cccccc;
}
textarea::-moz-placeholder {
color: #cccccc;
}
textarea:-ms-input-placeholder {
color: #cccccc;
}
/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
iframe {
	border: none !important;
}

body{padding: 0; margin:0 !important;}
.navbar-header{width:100%;}
.main_heading{color: #000; font-size: 18px;  text-transform: uppercase; margin: 30px 0 20px;}
.mar_tp_30{margin-top: 30px;}
.form-control{border-radius:0; }
.modal-dialog.main_modal .modal-content .modal-header{background: linear-gradient(to right,#253b61, rgb(208, 215, 230)); color:#fff;    border-radius: 0;
    padding: 10px 15px;}
	.modal-dialog.main_modal .modal-content .modal-body ,	.modal-dialog.main_modal .modal-content  .modal-footer{background:#eaeaf3;}
.btn.btn-primary.common_btn {  background: #253b61 none repeat scroll; color: #fff;  margin-left: 10px;  border-radius: 15px;
   border: none; padding: 4px 30px;}
.modal-dialog.main_modal .modal-content  .modal-footer{ border-top:1px solid #cecede;}


