<div class="shadow_body">
 <form class="" [formGroup]="changePasswordForm" (ngSubmit)="onFormSubmit(changePasswordForm.value)&& changePasswordForm.valid">
    <div class="modal-header gray-header ngx-header">
      <h5 class="modal-title pull-left">Change Password</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="Refresh()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body gray-body" style="background-color:#fff;color:#000">
      <div class="inputs">

        <div class="inputs">

          <div class="form-section">
            <div class="form-group">
              <label class=" main_lable mar_7px required_label">Current Password</label>
              <input id="CurrentPassword" [formGroup]="changePasswordForm"  maxlength="25" on-focusout="focusOutFunction()"
                class="form-control" type="password" placeholder="Enter Current Password" [(ngModel)]="crntPassword" formControlName="CurrentPassword"
                class="form-control">


              <div style="display: displayDiv" *ngIf="correctPassword == false">
                <span class="validationErrorMsg">{{cuurentPassErrorMsg}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class=" main_lable mar_7px required_label">New Password</label>
              <input type="password" [formGroup]="changePasswordForm" formControlName="NewPassword" class="form-control" id="password"
                name="password" placeholder="Enter password" minlength="6" maxlength="25">
              <ng2-password-strength-bar 
               [passwordToCheck]="NewPassword.value"
               [barLabel]="barLabel"
               [barColors]="myColors">
              </ng2-password-strength-bar>
              <div class="form-control-feedback" *ngIf="NewPassword.errors && (NewPassword.dirty || NewPassword.touched)">
                  <p *ngIf="NewPassword.errors.required">New Password is required</p>
                  <p *ngIf="NewPassword.errors.pattern">
                    Password must be at least 10 character long and 
                    must contain at least  one uppercase,one lower case ,one numeric and  
                  one special character<strong>(?=.[!@#\$%^&])</strong>.
                </p>
                  <p *ngIf="NewPassword.errors.maxlength">Password cannot be greater than 25 charaters.</p>
                  
                </div>
              <!-- <span class="validationErrorMsg" *ngIf="changePasswordForm.controls['NewPassword'].hasError('minlength')">Password must be atleast 6 characters long</span> -->
            </div>
            <div class="form-group">
              <label class=" main_lable mar_7px required_label">Confirm Password</label>
              <input minlength="6" [formGroup]="changePasswordForm" maxlength="25" class="form-control" type="password" placeholder="Confirm Password"
                formControlName="ConfirmPassword" class="form-control">
              <div *ngIf="MatchPassword == false">
                <span class="validationErrorMsg">Password and confirm password do not match</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer gray-body">
      <div align="right">

        <button type="submit" class="btn btn-default login-btn" value="Create" [disabled]=" !isValid || !changePasswordForm.valid">Update</button>
        <button type="button" class="btn btn-default login-btn" (click)="Refresh()">Cancel</button>
      </div>

    </div>
  </form>
  </div>