<div class="container-fluid">
    <div  class="row"><div class="col-sm-12"><h4  class="main_heading inline_block">Clients</h4>
      <div class="add_patient"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block"><i class="fa fa-plus"></i>Add</button></div>

    
    </div></div>
  <div class="row ">
    <div class="col-sm-12">
      
<p-table [value]="clients">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Company Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr>
            <td>{{client.FirstName+' '+client.LastName}}</td>
            <td>{{client.Email}}</td>
            <td>{{client.PhoneNumber}}</td>
            <td>{{client.Address+', '+client.City+', '+client.State}}</td>
            <td>{{client.CompanyName}}</td>
        </tr>
    </ng-template>
</p-table>



<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog main_modal modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="lineModalLabel">Add Client</h5>
      			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>

		</div>
		<div class="modal-body">
			
        <!-- content goes here -->
            <form class="xenon_form" role="form" [formGroup]="addUserForm" (ngSubmit)="onFormSubmit(addUserForm.value) && addUserForm.valid">
             <div class="row">
               <div class="col-sm-6">
                  <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter First Name" formControlName="FirstName">
              </div>
               </div>
                  <div class="col-sm-6">
                  <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Last Name" formControlName="LastName">
              </div>
               </div>
             </div>
              <div class="row">
               <div class="col-sm-6">
                  <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="Email">
              </div>
               </div>
                     <div class="col-sm-6">
                  <div class="form-group">
                <label for="exampleInputEmail1">Company Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="Email">
              </div>
               </div>
             </div>
                
                <div class="row">
               <div class="col-sm-4">
                  <div class="form-group">
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter City" formControlName="City">
              </div>
               </div>
                  <div class="col-sm-4">
                  <div class="form-group">
                <label for="exampleInputEmail1">State</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter State" formControlName="State">
              </div>
               </div>
                 <div class="col-sm-4">
                  <div class="form-group">
                <label for="exampleInputEmail1">Phone no</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Phone number" formControlName="PhoneNo">
              </div>
               </div>
             </div>
                <div class="row">
               <div class="col-sm-6">
                  <div class="form-group">
                <label for="exampleInputEmail1">Address 1</label>
           <textarea class="form-control rounded-0" rows="3" formControlName="Address1"></textarea>
              </div>
               </div>
                
             </div>
           
			</form>
           

		</div>
		<div class="modal-footer">
		
				
			
					<button type="button" id="delImage" class="btn btn-primary common_btn" data-dismiss="modal"  role="button">Cancel</button>
				
				
					<button type="button" id="saveImage" class="btn btn-primary common_btn" data-action="save" role="button">Save</button>
			
			
		</div>
	</div>
  </div>
</div>
    </div>
  </div>
</div>