
 <!-- <app-sidebar ></app-sidebar> -->
 <app-header></app-header>
<section  class="content_body">



<div class="content" *ngIf="DashboardShow">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="main_heading">Dashboard</h4>
    </div>
  </div>
      <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers">12</span>
        <span class="count-name">Clients</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">50</span>
        <span class="count-name">Cases</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">20</span>
        <span class="count-name">Billed Cases</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-users"></i>
        <span class="count-numbers">30</span>
        <span class="count-name">Unbilled Cases</span>
      </div>
    </div>
  </div>
    <div class="row mar_tp_30">
  
    <div class="col-sm-6">
      <div class="shadow_body">
      <p-chart type="line" [data]="data" ></p-chart>
      </div>

    </div>
     <div class="col-sm-6">
        <div class="shadow_body">
    <p-chart type="radar" [data]="data2"></p-chart>
     </div>

    </div>
        <div class="col-sm-12 mar_tp_30">
           <div class="shadow_body">
          <p-chart type="bar" [data]="data1"></p-chart>
           </div>
          </div>
  </div>
</div>
</div>

  <router-outlet></router-outlet>

</section>
