<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-sm-12"><h4 class="main_heading inline_block">Permissions</h4>
  </div>
   -->
  </div>

<div class="row ">
 
    <div class="col-sm-12">
      <div class="shadow_body clearfix">
   
            <!-- <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
               <label for="exampleInputEmail1">User Type</label>
                <p-dropdown [options]="userTypes" class="full-width-drop" optionLabel="UserTypeName"></p-dropdown>
          
              </div>
               </div>
            </div> -->
  
  <div class="row">
    <div class="col-sm-4" *ngFor="let permission of permissions">
         <div>
          <li >
              <div class="ui-g">
              <div class="ui-g-12">  <p-checkbox name="groupname" value={{permission.PermissionId}} label={{permission.Title}} [(ngModel)]="selectedValues"></p-checkbox></div>
            </div>
</div>
<div>
   
   
</div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 mar_tp_20 text-right">
        <button type="" class="btn btn-primary common_btn" (click)="SavePermission($event)"> Save</button>
    </div>
  </div>
</div>
</div>
   